/*footer start*/

.footer {
    text-align: center;
    color: $white;
    p {
        text-transform: capitalize;
        margin: 0;
    }
    span {
        font-size: 14px;
    }
    background-color: $bgOne;
    padding:30px;
}


/*footer end*/