// body var
$bodyFont: 'Open Sans',
sans-serif;
$titleFont:'Poppins',
sans-serif;
$bfSize: 16px;
$bLineHeight: 26px;
$fontWeight: 400;
$transition: all .5s linear;
//colors variables;
$primary-color:#87cf01;
$bfColor: rgb(41, 47, 44);
$white: #fff;
$black: #000;
$bgOne: #003016;
$title-color:#1a3524;